html, body, #app, .container {
  height: 100%;
}

body {
/* font-family: "Merriweather", Georgia, serif; */
/* font-family: soleil, Raleway, sans-serif; */
  font-family: 'lora';
  width: 100%;
  margin: 0 auto;
  background: url(/img/bg/bg_demo.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/* 高斯模糊效果 */
/* -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */

.easy-input {
  display: inline-block;
  outline: none;
  border: 0;
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #00000094;
}

.easy-input::placeholder {
  color: #00000059;
}

.div-btn {
  outline: none;
  border: 0px;
  background: transparent;
}

.light {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffc4;
}

.surrounding {
  position: relative;
  top: 252px;
  height: 200px;
  text-align: center;
  margin: 0 190px;
}

.full-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  background-image: url(/img/bg/bg_demo.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  /* 设置柔光 */
  opacity: 0.5;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
/*
.blur {
  position: absolute;
  left: 350px;
  top: 247px;
  width: 760px;
  height: 200px;
} */

.search-div {
  position: relative;
  top: 68px;
}

.search-div .search-input {
  width: 380px;
  height: 32px;
  margin: 10px 12px;
  padding: 0px 10px;
  font-size: 17px;
  font-weight: 300;
}

.search-div .search-btn {
  position: relative;
  top: 6px;
  color: #00000082;
  -webkit-transition: color .35s;
  -o-transition: color .35s;
  transition: color .35s;
}

.search-div .search-btn:hover {
  color: #ffffff82;
}
